DCM Addin/DCM Addin/Config/DCMExcelConfig.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Files">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="File">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Columns">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="Column">
                      <xs:complexType>
                        <xs:attribute name="Name" type="xs:string" use="required" />
                        <xs:attribute name="DataType" type="xs:string" use="required" />
                        <xs:attribute name="Width" type="xs:unsignedByte" use="required" />
                        <xs:attribute name="Wrap" type="xs:string" use="required" />
                        <xs:attribute name="FontSize" type="xs:unsignedByte" use="required" />
                        <xs:attribute name="HeaderFontSize" type="xs:unsignedByte" use="required" />
                        <xs:attribute name="HeaderBold" type="xs:string" use="required" />
                        <xs:attribute name="HeaderWrap" type="xs:string" use="required" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="NamePattern" type="xs:string" use="required" />
            <xs:attribute name="DataStartRow" type="xs:unsignedByte" use="required" />
            <xs:attribute name="DataOutputRow" type="xs:unsignedByte" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>